/* stylelint-disable */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: "Circe", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0 auto;
  height: 100%;
  color: $font-base-color;
  background-color: $background-base-color;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none !important;
  }
}

h1 {
  font-family: "Circe Bold", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;

  @media (max-width: $mobiles-max) {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 120%;
  }
}

h2 {
  font-family: "Circe", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}

h3 {
  font-family: "Circe", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  margin: 0;
}

h4 {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  margin: 0 0 20px 0;
}

// h5 {
//   font-family: "Circe", sans-serif;
//   font-weight: 800;
//   font-size: 20px;
//   line-height: 130%;
//   margin: 0;
// }

// h6 {
//   font-family: "Circe", sans-serif;
//   font-size: 18px;
//   line-height: 22px;
//   margin: 0;
// }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 20px 0;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // @media (max-width: $mobiles-max) {
  //   overflow-x: hidden;
  // }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hidden {
  display: none i !important;
}

.show {
  display: block i !important;
}

[placeholder] {
  color: $color-placeholder;
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-webkit-input-placeholder {
  color: $color-placeholder;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:-moz-placeholder {
  color: $color-placeholder;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  color: $color-placeholder;
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
  color: $color-placeholder;
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus[placeholder] {
  opacity: 0;
  outline: none;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  outline: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  outline: none;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  outline: none;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  outline: none;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: all 0.3s;
}

input,
textarea {
  color: $color-black !important;
  opacity: 1 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.container {
  width: 100%;
  max-width: $container;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (max-width: $tablets-max) {
    padding-right: 80px;
    padding-left: 80px;
  }

  @media (max-width: $mobiles-max) {
    padding-right: 20px;
    padding-left: 20px;
  }

  &--wide {
    max-width: 100%;
  }
}

.v-select,
.vs__dropdown-toggle,
.v-select input {
  cursor: pointer !important;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.error {
  border: 2px solid $color-red !important;
}


.grecaptcha-badge {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.scroll-off {
  overflow: hidden;
}