// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(0, 0, 0, 0);


/*general*/
$mobiles: 320px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-max: 1023px;
$desktops: 1024px;
$container: 1130px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$transition-settings: 0.3s all;


// Base

$color-black: #111111;
$color-light-brown: #F7E5BE;
$color-light-black: #313030;
$color-dark-gray: #646464;
$color-light-gray: #D8D8D8;
$color-white: #FFFFFF;
$color-blue: #96B1E0;
$color-green: #488B68;
$color-pink: #FF69A1;
$color-red: #DD3232;

$font-base-color: $color-black;
$background-base-color: $color-default-white;
$color-placeholder: $color-light-gray;