.banners {
  margin-top: 90px;

  .swiper-container {
    overflow-x: clip;
    overflow-y: visible;
  }

  .swiper-pagination-bullets {
    bottom: -60px !important;

    @media (max-width: $tablets-max) {
      bottom: 14px !important;
    }

    @media (max-width: $mobiles-max) {
      transform: translateX(37%);
      bottom: 10px !important;
    }
  }

  .swiper-slide {
    @media (max-width: $tablets-max) {
      width: 100%;
    }
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 1px solid $color-black;
    background-color: $color-default-white;
    opacity: 1!important;

    @media (max-width: $tablets-max) {
      border: 1px solid $color-default-white;
      background-color: $color-black;
    }

    @media (max-width: $mobiles-max) {
      width: 7px;
      height: 7px;
      margin: 0 2px!important;
    }

    &-active {
      background-color: $color-black;

      @media (max-width: $tablets-max) {
        border: 1px solid $color-default-white;
        background-color: $color-default-white;
      }
    }
  }
}

.banners__content {
  position: absolute;
  padding: 130px 8%;
  width: 70%;

  @media (max-width: $tablets-max) {
    padding: 80px 80px 64px;
    width: 100%;
  }

  @media (max-width: $mobiles-max) {
    padding: 57px 20px 63px;
  }

  h2 {
    text-transform: uppercase;
    color: $color-white;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.05em;
    margin: 0;

    @media (max-width: $tablets-max) {
      font-size: 48px;
      line-height: 62px;
    }

    @media (max-width: $mobiles-max) {
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
    }
  }
}

.banners__text {
  margin: 18px 0 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: $color-white;

  @media (max-width: $tablets-max) {
    margin: 15px 0 30px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 15px;
    line-height: 17px;
  }
}

.banners__image {
  height: 611px;

  @media (max-width: $tablets-max) {
    height: 460px;
  }

  @media (max-width: $mobiles-max) {
    height: 342px;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.banners__inner {
  @media (max-width: $tablets-max) {}

}