.breadcrumbs {
  height: 60px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  background: $color-light-gray;
  &--title {
    height: 150px;
  }
}

.breadcrumbs__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h1 {
    flex-grow: 1;
    margin-right: 10px;
  }
  @media (max-width: $mobiles-max) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.breadcrumbs__list {
  display: flex;
  @media (max-width: $tablets-max) {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.breadcrumbs__item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #646464;
  position: relative;
  margin: 5px 10px 5px 0;

  &:after {
    content: "/";
    margin-left: 10px;
  }
  &:last-child {
    margin-right: 0;
    &:after {
      display: none;
    }
    .breadcrumbs__link {
      color: $color-middle-gray;
    }
  }
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

.breadcrumbs__divider {
  margin: 0 3px;
}