.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: none !important;
  border: none;
  transition: $transition-settings;
  cursor: pointer;
  flex-shrink: 0;

  &--toggle {
    width: 30px;
    position: absolute;
    height: 30px;
    display: flex;
    background-color: $color-default-white;
    align-items: center;
    justify-content: center;
    transition: $transition-settings;
    right: 0;
    top: 12px;
    padding: 0;
    z-index: 3;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 30px;
      background-color: $color-black;
      transform: rotate(45deg);
      transition: $transition-settings;
    }

    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 30px;
      background-color: $color-black;
      transform: rotate(-45deg);
      transition: $transition-settings;
    }

    &.close {

      span {
        background-color: $color-black;
        height: 2px;
        width: 30px;
        margin-top: 5px;
      }

      &:before {
        height: 30px;
        top: -6px;
        background-color: $color-black;
        transform: rotate(90deg);
      }

      &:after {
        height: 30px;
        bottom: -12px;
        background-color: $color-black;
        transform: rotate(90deg);
      }
    }

    @media (min-width: $tablets-max) {
      display: none;
    }

    @media (max-width: $tablets-max) {
      display: flex;
    }
  }

  &--brown {
    background-color: $color-light-brown;
    color: $color-black;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;

    &:hover {
      background-color: $color-gold;
    }
  }

  &--show-more {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 190px;
    background-color: transparent;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;

    padding: 16px 0;
    text-align: center;

    @media (max-width: $mobiles-max) {
      width: 45%;
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 26%;
      height: 100%;
      transition: $transition-settings;
      background-color: $color-light-brown;
      z-index: -1;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  &--read-more {
    margin: 0 auto 0 0;

    @media (max-width: $mobiles-max) {
      margin: 0 auto;
    }
  }

  &--black {
    background: $color-light-black;
    color: $color-white;
    font-weight: normal;
    font-size: 17px;
    line-height: 110%;
    text-align: center;
    width: fit-content;
    height: 50px;
    padding: 0 30px;

    &:hover {
      background: $color-dark-gray;
    }
  }

  &--banner {
    width: 28%;
    min-height: 50px;

    @media (max-width: $tablets-max) {
      width: 27.5%;
    }

    @media (max-width: $mobiles-max) {
      width: 60%;
    }
  }

  .icon {
    stroke: $color-white;
    transition: $transition-settings;
  }

  &:hover {

    p {
      color: $color-black;
    }
  }
}
