.filters {
  background-color: $color-light-gray;
  margin-top: 118px;
}

.filters__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filters__item {
  padding: 17px 0;
  margin-right: 3.5%;
  transition: $transition-settings;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover span {
    color: rgba(17, 17, 17, 0.5);
  }

  span {
    transition: $transition-settings;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
  }
}