.footer {
  background-color: $color-black;
  min-height: 210px;
}

.footer__inner {
  padding: 60px 0;
  display: flex;

  @media (max-width: $tablets-max) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobiles-max) {
    padding: 47px 0;
  }
}

.footer__copyright {
  min-width: 324px;
  width: 29.5%;
  margin-top: auto;

  @media (max-width: $tablets-max) {
    margin-top: 30px;
    width: 100%;
    min-width: auto;
  }

  @media (max-width: $mobiles-max) {
    margin-top: 16px;
  }

  p {
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: right;
    color: $color-default-white;
    opacity: 0.3;
    margin: 0;

    @media (max-width: $tablets-max) {
      text-align: left;
    }
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  height: 90px;
  flex-wrap: wrap;
  width: 50.5%;
  margin-right: 22%;
  min-width: 465px;

  @media (max-width: $tablets-max) {
    width: 88%;
    margin-right: 0;
    align-items: flex-start;
  }

  @media (max-width: $mobiles-max) {
    min-width: auto;
    height: auto;
  }
}

.footer__menu-item {
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: $color-default-white;
    opacity: 0.8;
    transition: $transition-settings;

    &:hover {
      opacity: 0.3;
    }
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 8px;
  }
}
