.form__fields {
  max-width: 56.5%;
  flex-grow: 1;
  flex-shrink: 0;
  @media (max-width: $tablets-max) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__group {
  margin-bottom: 60px;
  @media (max-width: $tablets-max) {
    width: 100%;
    max-width: 523px;
  }
  @media (max-width: $mobiles-max) {
    max-width: 100%;
  }

  &:last-of-type {
    margin-bottom: 30px;
    @media (max-width: $mobiles-max) {
      margin-bottom: 20px;
    }
  }
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__field {
  padding-left: 82px;
  margin-bottom: 20px;
  @media (max-width: $mobiles-max) {
    padding-left: 0;
  }

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobiles-max) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--radio,
  &--textarea {
    display: flex;
    @media (max-width: $mobiles-max) {
      flex-direction: column;
    }
    .form__label {
      max-width: 140px;
      @media (max-width: $mobiles-max) {
        max-width: 100%;
        margin-bottom: 10px;
      }
    }
    .form__field-wrapper {
      align-items: flex-start;
    }
  }
}

.form__error {
  color: $color-red;
  display: block;
  text-align: right;
  @media (max-width: $mobiles-max) {
    text-align: left;
  }
}

.form__label {
  flex-grow: 1;
}

.form__input {
  width: 100%;
  height: 50px;
  max-width: 311px;
  padding: 0 20px;
  border: 1px solid $color-gray;
  transition: $transition-settings;
  @media (max-width: $mobiles-max) {
    max-width: 100%;
  }
  &--filled {
    border: 1px solid $color-black;
  }
  &--error {
    border: 1px solid $color-red;
  }
}

.form__radio {
  display: none;
}

.form__radio+label {
  position: relative;
	padding: 0 0 15px 20px;
	cursor: pointer;
}

.form__radio+label:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	border: 1px solid $color-gray;
	border-radius: 50%;
	background: transparent;
}

.form__radio+label::after {
  content: '';
	position: absolute;
	top: 7px;
	left: 2px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: $color-gold;
	opacity: 0;
	transition: $transition-settings;
}

.form__radio:checked + label:before {
	border: 1px solid $color-gold;
}
.form__radio:checked + label:after {
	opacity: 1;
}

.form__textarea {
  resize: none;
  width: 100%;
  max-width: 311px;
  max-height: 100px;
  padding: 20px;
  border: 1px solid $color-gray;
  transition: $transition-settings;
  @media (max-width: $mobiles-max) {
    max-width: 100%;
  }
  &--filled {
    border: 1px solid $color-black;
  }
  &--error {
    border: 1px solid $color-red;
  }
}