.header {

}

.header__menu {
  display: flex;
  width: 63%;
  align-items: center;

  @media (max-width: $tablets-max) {
    margin-top: 10px;
    align-items: baseline;
    background: $color-default-white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.header__right-menu {
  display: flex;
  margin-left: 9.7%;
  width: 14.8%;
  display: flex;
  align-items: center;

  @media (max-width: $tablets-max) {
    justify-content: flex-end;
    width: 50%;
    padding-right: 60px;
  }
}

.header__menu-item {
  margin-right: 5.7%;
  position: relative;
  padding: 0 12px;
  transition: $transition-settings;

  @media (max-width: $tablets-max) {
    padding: 0;
    align-items: left;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &:before {
    position: absolute;
    content: '';
    background-color: $color-light-brown;
    width: 27px;
    height: 2px;
    top: 8px;
    left: 0px;
    z-index: -1;
    transition: $transition-settings;
  }

  &:hover {
    &:before {
      content: '';
      background-color: $color-light-brown;
      width: 100%;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $color-black;
    white-space: nowrap;

    @media (max-width: $tablets-max) {
      padding: 20px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      color: #000000;

      transition: $transition-settings;
      position: relative;
      height: 100%;
      display: block;
      width: 100%;
      z-index: 0;
    }
  }
}

.header__top {
  height: 56px;
  margin-top: 15px;
  display: flex;
  position: relative;
  z-index: 3;

  @media (max-width: $tablets-max) {
    justify-content: space-between;
  }
}

.header__logo {
  width: 10%;
  margin-right: 2.5%;
  padding-top: 10px;
  min-width: 100px;
  height: 44px;
  flex-shrink: 0;

  @media (max-width: $tablets-max) {
    width: 50%;
  }

  &-link {
    height: 100%;
    display: block;
  }
}

.header__form {
  display: flex;
  width: 23%;
  margin-right: 3.5%;

  @media (min-width: $desktops) {
    position: relative;
  }

  @media (max-width: $tablets-max) {
    position: absolute;
    top: calc(100% + 8px);
    right: 15px;
    left: 15px;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  input {
    display: flex;
    flex-grow: 1;
    border: 1.5px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 46px;
    transition: $transition-settings;

    @media (min-width: $desktops) {
      padding: 16px 60px 16px 28px;
    }

    @media (max-width: $tablets-max) {
      padding: 12px 50px 12px 15px;
    }

    &:hover,
    &:active,
    &:focus,
    &--active {
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
      border-color: transparent;
      transition: all 0.3s;
    }
  }
}

.header__search {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;

  @media (max-width: $tablets-max) {
    display: none;
  }
}

.header__cart {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 38px;
  justify-content: space-between;
}

.header__languages {
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.header__language {
  display: flex;

  &:last-of-type {
    .header__language-divider {
      display: none;
    }
  }
}

.header__language-link {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: $color-black;

  &--active {
    color: $color-light-brown;
  }
}

.header__language-divider {
  margin: 0 3px;
}

.header__cart-total {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.header__cart-icon {
  width: 20px;
  height: 20px;

  path {
    fill: $color-black;
  }
}

.header__cart-total {
  vertical-align: top;
}

.header__mobile {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
  padding-bottom: 16px;
}

.header__mobile-wrapper {
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #ffffff;
}