.order__inner {
  margin: 120px 8.5%;

  @media (max-width: $tablets-max) {
    margin: 90px 0;
  }

  @media (max-width: $mobiles-max) {
    margin: 60px 0;
  }
}

.order__form {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablets-max) {
      flex-direction: column-reverse;
    }
  }
}

.order__title {
  position: relative;
  padding-left: 20px;
  margin-bottom: 60px;

  &:before {
    position: absolute;
    content: "";
    background-color: $color-light-brown;
    width: 80px;
    height: 6px;
    top: 6px;
    left: 0px;
    z-index: -1;
    transition: $transition-settings;
  }
}

.order__total {
  max-width: 28%;
  @media (max-width: $tablets-max) {
    max-width: 100%;
    margin-bottom: 90px;
  }
  &-wrapper {
    padding: 40px 30px 30px 30px;
    background: $color-light-gray;
  }
  &-title {
    font-family: 'Circe Bold';
    font-weight: 700;
  }
  &-summa {
    color: $color-gold;
  }
  hr {
    width: 100%;
    height: 1px;
    margin: 34.5px 0 20.5px 0;
    background: $color-gray;
    border: none;
    @media (max-width: $tablets-max) {
      max-width: 193px;
    }
  }
}

.order__product {
  &-name {
    font-size: 15px;
    color: $color-middle-gray;
  }
}
