.products {
  margin-bottom: 120px;

  @media (max-width: $tablets-max) {
    margin-bottom: 93px;
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 60px;
  }
}

.products__masonry {
  position: relative;
  margin: 57px auto 0 auto;

  overflow: hidden;
  display: grid;
  grid-gap: 10.4px 10px;
  grid-auto-rows: 0;

  @media only screen and (max-width: $tablets-max) {
    grid-template-columns: repeat(2, minmax(50%,1fr));
    grid-gap: 8.3px 15px;
  }

  @media only screen and (max-width: $mobiles-max) {
    grid-template-columns: repeat(1, minmax(100%,1fr));
    grid-gap: 8.3px 15px;
  }

  @media only screen and (min-width: $desktops) {
    grid-template-columns: repeat(3, minmax(33.3%, 1fr));
  }

  @media (max-width: $tablets-max) {
    margin: 89px auto 0 auto;
  }

  @media (max-width: $mobiles-max) {
    margin: 58px auto 0 auto;
  }

  .products__item {
    transition: $transition-settings;
    filter: grayscale(0);


    &:hover {
      img {
        transform: scale(1.02);
      }
    }

    &--modified {
      transition: $transition-settings;
      filter: grayscale(1);
    }

    @media (max-width: $tablets-max) {
      max-width: 289px;
    }

    @media (max-width: $mobiles-max) {
      margin: 0 auto;
    }
  }
}

.products__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-10px);

  @media (max-width: $tablets-max) {
    transform: translateX(0);
  }
}

.products__content {
  margin-bottom: 62px;

  @media (max-width: $tablets-max) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 24px;
  }

  &--catalog {
    margin-top: 106px;
    margin-bottom: 65px!important;

    @media (max-width: $tablets-max) {
      margin-top: 90px!important;
      margin-bottom: 60px!important;
    }

    @media (max-width: $mobiles-max) {
      margin-top: 60px !important;
    }
  }
}

.products__name-info {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: $color-gray;
}

.products__item-info {
  display: flex;

  p, span {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: $color-gray;
    margin: 0;
  }
}

.products__author {
  text-align: center;
  margin: 14px 0 0;

  @media (max-width: $mobiles-max) {
    margin: 25px 0 0;
  }
}

.products__price {
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: $color-gold;
  margin: 12px 0 0 0;
}

.products__show-more {
  margin: 0 auto;
  display: block;
}

.products__image {
  height: auto;
  width: 100%;
  overflow: hidden;

  img {
    transition: $transition-settings;
  }
}