.products {
  margin-bottom: 120px;

  @media (max-width: $tablets-max) {
    margin-bottom: 93px;
  }

  @media (max-width: $mobiles-max) {
    margin-bottom: 60px;
  }
}

.products__masonry {
  position: relative;
  margin: 57px auto 0 auto;

  @media (max-width: $tablets-max) {
    margin: 89px auto 0 auto;
  }

  @media (max-width: $mobiles-max) {
    margin: 58px auto 0 auto;
  }

  .products__item {
    @media (max-width: $tablets-max) {
      width: 289px;
    }

    @media (max-width: $mobiles-max) {
      width: 280px;
    }
  }
}

.products__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__content {
  margin-bottom: 62px;
}

.products__name-info {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: $color-gray;
}

.products__item-info {
  display: flex;

  p, span {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: $color-gray;
  }
}

.products__author {
  text-align: center;
  margin: 14px 0 0;

  @media (max-width: $mobiles-max) {
    margin: 25px 0 0;
  }
}

.products__price {
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: $color-gold;
  transform: translateY(-8px);
}

.products__show-more {
  margin: 0 auto;
  display: block;
}