.search {
  margin: 115px 0;

  &--modal {
    margin: 0;

    input {
      border: none;
    }
  }

  @media (max-width: $tablets-max) {
    margin: 90px 0;
  }

  @media (max-width: $mobiles-max) {
    margin: 58px 0 60px;
  }
}

.search__inner {
  position: relative;

  @media (min-width: $tablets) {
    min-width: 510px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    top: 21px;
    left: 17.5%;
    background-color: $color-black;

    @media (max-width: $tablets-max) {
      left: 21%;
    }

    @media (max-width: $mobiles-max) {
      display: none;
    }
  }

  ::placeholder {
    font-family: 'Circe', sans-serif;
    color: $color-black;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
  }
}

.search__title {
  position: absolute;
  left: 6.5%;
  top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;

  @media (max-width: $mobiles-max) {
    display: none;
  }
}

.search__input {
  border: 1px solid $color-gray;
  width: 100%;
  padding: 42px 0 42px 23.5%;
  font-family: 'Circe', sans-serif;
  color: $color-black;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  @media (max-width: $tablets-max) {
    padding: 43px 0 38px 27.5%;
  }

  @media (max-width: $mobiles-max) {
    padding: 42px 0 36px 27px;
  }
}

.search__button {
  position: absolute;
  right: 5.5%;
  top: 36px;
  background-color: $color-default-white;
  border: none;

  @media (max-width: $tablets-max) {
    right: 10px;
  }
}